$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;
$dark-lime: #00b300;
$lime: #33ff33;
$dark-grey: #646464;
$orange: #ff4000;
$dark-orange: #cc3300;
$lt-grey: #292929;